<!DOCTYPE html>
<html>
<head>
    <title>성공</title>
</head>
<body>
    <h1><%= message %></h1>
    <p>이메일: <%= user.email %></p>
    <p>동의 여부: <%= user.agree %></p>
    <p>포인트 이전 아이디: <%= user.transformId %></p>
    <a href="/">홈으로 돌아가기</a>
</body>
</html> 